* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 16px;
}

@media (min-width: 700px) {
  html {
    font-size: 25px;
  }
  /* .header {grid-template-columns: 2%; } */
  /* .card-right {overflow: auto;} */
  
  
}

body {
  display: flex;
  background-color: #252222;
  align-items: center;
  padding-top: 8%;
}

.card {
  display: grid;
  grid-template-columns: 30% 1fr;
  background-color: white;
  margin: 0 auto;
  overflow: hidden;
}

.card-left {
  background-image: url(Assets/red-brick-wall.jpg);
  background-size: cover;
}

.card-right {
  background-color: rgba(194, 191, 224, 0.082);
  padding-top: 3.75rem;
}

.header {
  display: grid;
  grid-template-columns: 75% 1fr;
  padding: 2em;
}




.header p {
    font-size: 1rem;
    font-weight: 750;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* padding-right: 14rem; */
    word-wrap: break-word;
}

.header p:last-child {
  margin-bottom: 65px;
}

#legend {
  font-size: .5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 5.5em;
  background-color: white;
  font-weight: 600;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  background-color: white;
  padding-bottom: 3rem;
  font-size: 1rem;
}

@media (max-width: 700px) {
  form {grid-template-columns: 1fr; }

  form section:first-child {
    padding-inline: 10.75em;
  }
  
  form section:last-child {
    padding-inline: 4.75em;
  }
}


label {
    transform: scale(.75);
    transform-origin: left;
    text-align: left;
    line-height: .8;
    padding-top: 4em;
    font-weight: 550;
    font-size: .25rem;
}

input {
    border-radius: 5px;
}

form section {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: left;
}

form section:first-child {
  padding-left: 2.75em;
}

form section:last-child {
  padding-left: 2.75em;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: .625rem 12rem 0 2.75rem;
    background-color: rgba(194, 191, 224, 0.082);
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.2);
}

footer p {
  padding-bottom: 10rem;
}
button {
  width: 12rem;
}

a {
    text-decoration: none;
}